.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  margin-right: 16px;
}

.App-header {
  background-color: #000000;
  /*min-height: 100vh;*/
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.App-header ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.App-header ul li{
  display: inline-block;
  margin-right: 25px;
  font-weight: bold;
  font-size: 35px;
  padding: 0, 20px;
}

.App-header ul li a{
  color: #fdd835;
  text-decoration: none;
}

.App-header ul li a:hover{
  color: #c6a700;
}
.App-link {
  color: #61dafb;
}